<template>
  <div class="Outerbox">
    <div class="bScroll" ref="bScroll">
      <div class="bScrollContent">
        <div class="bScrollItem" v-for="item in list" @click="itemClicked(item)">{{item}}</div>
      </div>
      <div class="topText">下拉刷新</div>
    </div>
    <div class="btn_big btn_public btn_red" @click="add">增加项目</div>
  </div>
</template>

<script>
  import {mapState, mapMutations, mapActions} from "vuex"
  import BScroll from "better-scroll"

  export default {
    name: "better_scroll",
    data() {
      return {
        bscroll: "",
        list: [
          "测试11111",
          "测试22222",
          "测试333333",
          "测试444444",
          "测试555555",
          "测试666666",
          "测试777777",
          "测试888888",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试22222",
          "测试333333",
          "测试444444",
          "测试555555",
          "测试666666",
          "测试777777",
          "测试888888",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试22222",
          "测试333333",
          "测试444444",
          "测试555555",
          "测试666666",
          "测试777777",
          "测试888888",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
          "测试11111",
        ]
      }
    },
    computed: {
      ...mapState([])
    },
    methods: {
      ...mapActions([]),
      ...mapMutations([]),
      add() {
        this.list = this.list.concat(["232323232", "232323232", "232323232", "232323232", "232323232", "232323232", "232323232"])
        this.bscroll.refresh();
        this.bscroll.scrollTo(0,-500)
      },
      itemClicked(item) {
        console.log(item);
      }
    },
    created() {

    },
    mounted() {
      let that = this;
      that.$nextTick(function () {
        if (!that.bscroll) {
          that.bscroll = new BScroll(that.$refs.bScroll, {
            /*太多的参数了，实在记不得了，需要用到什么效果请去官网查文档*/
            scrollX: true,
            scrollY: true,
            click: true,
            /*下拉刷新*/
            pullDownRefresh: {
              threshold: 50,
              stop: 0
            },
            pullingDown(){
              console.log("下拉刷新");
              that.bscroll.finishPullDown();
            }
          })
        } else {
          that.bscroll.refresh();
        };
        that.bscroll.on("scroll",function () {
          console.log("333333")
        })
      })
    },
    updated() {

    },
    watch: {}
  }
</script>

<style scoped lang="less">
  .Outerbox {
    .bScroll {
      position: relative;
      z-index: 1;
      height: 1000px;
      background: lightblue;
      overflow: hidden;
      .bScrollContent {
        position: relative;
        z-index: 3;
        min-height: 101%;
        .bScrollItem {
          height: 50px;
          background: red;
        }
      }
      .topText {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: yellow;
        text-align: center;
      }
    }
  }
</style>
