<template>
  <div class="Outerbox">
    <div class="todo" ref="todo">
      <div class="list" ref="list"></div>
    </div>
    <div class="clear"></div>
    <div class="button" @click="testClick">点我试试</div>
   <div class="top">top</div>
    <div class="bottom">
      <div class="inner">inner</div>
    </div>
  </div>
</template>

<script>
  import {mapState, mapMutations, mapActions} from "vuex"

  export default {
    name: "test01",
    data() {
      return {
        distance: 120
      }
    },
    computed: {
      ...mapState([])
    },
    methods: {
      ...mapActions([]),
      ...mapMutations([]),
      testClick() {
        let that = this;
        that.distance += 20;
        that.$refs.list.style.width = `${that.distance}px`
      }
    },
    created() {

    },
    mounted() {

    },
    updated() {

    },
    watch: {}
  }
</script>

<style scoped lang="less">
  .Outerbox {
    .todo {
      overflow-x: scroll;
      .list{
        width: 120px;
        height: 50px;
        background: gray;
        float: right;
      }
    }
    .clearfix {
      clear: both;
    }
    .testClick {
      width: fit-content;
      padding: 10px 30px;
      background: lightblue;
    }
    .top{
      width: 350px;
      height: 500px;
      background: blue;
    }
    .bottom{
      width: 750px;
      height: 500px;
      background: gray;
      margin-top: 10px;

     .inner{
       width: 100px;
       height: 100px;
       background: red;
       margin-top: 200px;
     }
    }
  }
</style>
