<template>
    <div class="Outerbox">
      <div id="demo">
        <button v-on:click="show = !show">
          Toggle
        </button>
        <transition name="fade">
          <p v-if="show">hello</p>
        </transition>
      </div>
    </div>
</template>

<script>
    import {mapState, mapMutations, mapActions} from "vuex"

    export default {
        name: "test02",
        data() {
            return {
              show:true,
            }
        },
        computed: {
            ...mapState([])
        },
        methods: {
            ...mapActions([]),
            ...mapMutations([])
        },
        created() {

        },
        mounted() {

        },
        updated() {

        },
        watch: {}
    }
</script>

<style scoped lang="less">
    .Outerbox {

    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>
