@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  // -webkit-appearance: none;
  resize: none;
}

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* 图片自适应 */
img {
  max-width: 100%;
  height: auto;
  width: auto \9; /* ie8 */
  -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font: normal 100% "PingFangSC Regular", Helvetica, Arial, sans-serif, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
}

body {
  font-size: 30px;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

em, i {
  font-style: normal;
}

strong {
  font-weight: normal;
}

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}
.btn{
	cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "PingFangSC Regular", Helvetica, Arial, sans-serif, '宋体', Microsoft YaHei, Tahoma, Arial, sans-serif;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: "PingFangSC Regular", Helvetica, Arial, sans-serif, Microsoft YaHei;
}

img {
  border: none;
}

/*以下是一些公共类，可以根据实际开发需求自行添加修改*/
.Outerbox {

}

.nav {
  width: 100vw;
  height: 88px;
}

/*适配ios9和ios10的状态栏，另外需要ios客户端设置self.automaticallyAdjustsScrollViewInsets = NO;*/
.iosPaddingtop {
  padding-top: 20px;
}

/*android手机导航条高度为90px*/
.androidHeight {
  height: 90px;
}

/*灰色背景的分隔区域*/
.grayBar {
  width: 100vw;
  height: 24px;
  background: rgb(245, 245, 245);
}

/*按钮的公共样式*/
.btn_public {
  height: 88px;
  line-height: 88px;
  max-height: 100%;
  margin: 0 auto;
  font-size: 32px;
  text-align: center;
  border-radius: 12px;
  border: 0 solid transparent;
}

/*不同按钮的一些样式-----开始*/
.btn_big {
  width: 640px;
  .btn_public;
}

.btn_middle {
  width: 302px;
  .btn_public;
}

.btn_small {
  width: 256px;
  .btn_public;
}

.btn_min {
  width: 176px;
  height: 64px;
  line-height: 64px;
  max-height: 100%;
  margin: 0 auto;
  font-size: 28px;
  text-align: center;
  border-radius: 10px;
  border: 0 solid transparent;

}

.btn_red {
  background: #f72539;
  color: #fff;
  box-shadow: 0 0 18px 5px #ff9199;
}

.btn_white {
  background: #fff;
  color: #f72539;
  border: 1px solid #f72539; /*no*/
}

.btn_disabled {
  background: #f7c6cb;
  color: #f4f4f4;
}

.btn_delete {
  background: #fff;
  color: #333;
  border: 1px solid #bcbcbc; /*no*/
}

/*不同按钮的一些样式-----结束*/

.icon_middle {
  width: 64px;
  height: 64px;
}

.icon_small {
  width: 38px;
  height: 38px;
}

.img {
  img {
    width: 100%;
    height: 100%;
  }
}



