<template>
  <div class="Outerbox">
    <!-- 本页面灰色半透明遮罩层，区别于全局的遮罩层。因为可能有多层嵌套的弹框或者模态框 -->
    <div
      class="currentPageGrayBackground"
      v-show="currentPageGrayBackgroundShow"
    ></div>
    <!-- 头部筛选和搜索 -->
    <div class="header">
      <div class="title">全局搜索条目维护</div>
      <div class="searchContent">
        <div class="gongnengfenlei">功能分类</div>
        <select name="" id="" v-model="gongnengfenlei">
          <option
            :value="item.rangeId"
            v-for="(item, index) in gongnengfenleiList"
            :key="`fenleiitem${index}`"
            >{{ item.rangeName }}</option
          >
        </select>
        <div class="status">审核状态</div>
        <select name="" id="" v-model="searchStatus">
          <option
            :value="item.val"
            :label="item.text"
            v-for="(item, index) in searchStatusList"
            :key="item.text"
            >{{ item.text }}</option
          >
        </select>
        <input
          type="text"
          placeholder="请输入标题或关键词"
          v-model="searchKeywords"
        />
        <div class="searchBtn btn" @click="search">搜索</div>
        <div class="addBtn btn" @click="addResolce">新增</div>
      </div>
    </div>
    <!-- 中间列表部分 -->
    <div class="mainContent table">
      <!-- 列表第一行 -->
      <div class="rowItem firstRow">
        <div class="checkbox cell col0"></div>
        <div class="classify cell col1">分类</div>
        <div class="name cell col2">名称</div>
        <div class="peitu cell col3">配图</div>
        <div class="keywords cell col4">关键词</div>
        <div class="releaseDate cell col5">
          <div class="leftText">发布日期</div>
          <div class="rightImg img">
            <img src="../assets/icon_replease.jpg" alt="" />
          </div>
        </div>
        <div class="func cell col6">功能</div>
        <div class="exam cell col7">审核</div>
      </div>
      <!-- 列表主体部分 -->
      <div
        class="rowItem"
        v-for="(item, index) in keywordsList"
        :key="`rowItem${index}`"
      >
        <div class="cell col0">
          <input
            @click="chooseThisItem(item, index)"
            type="checkbox"
            :checked="item.checked"
            :disabled="item.disabled"
          />
        </div>
        <div class="cell col1">{{ item.searchType }}</div>
        <div class="cell col2" style="text-align: center;">
          {{ item.title }}
        </div>
        <div class="cell col3">
          <div class="img" @click="editThisImg(item)">
            <img :src="item.imageUrl || require('../assets/def.jpg')" alt="" />
          </div>
        </div>
        <div class="cell col4" v-if="item.keyWord">
          {{ item.keyWord.split("-").join("&#x3000;") }}
        </div>
        <div class="cell col5" v-if="item.createDt">
          {{
            `${item.createDt.substring(0, 4)}-${item.createDt.substring(
              4,
              6
            )}-${item.createDt.substring(6)}`
          }}
        </div>
        <div class="cell col6">
          <div class="btn" @click="edit(item, index)">编辑</div>
        </div>
        <div class="cell col7">
          <select
            name=""
            id=""
            @change="changeStatus(item)"
            v-model="item.flag"
          >
            <option value="up">上架</option>
            <option value="lower">下架</option>
            <option value="check">待审核</option>
          </select>
        </div>
      </div>
    </div>
    <!-- 本页面的弹框，区别于全局的弹框 -->
    <div class="currentPageAlertBox" v-show="currentPageAlertBox">
      <div class="top">
        <div class="closeAlertBox img btn" @click="closeCurrentPageAlertBox">
          <img src="../assets/icon_closealertbox.jpg" alt="" />
        </div>
      </div>
      <div class="middle">
        <div class="img">
          <img
            :src="
              alertBoxObj.alertBoxImg || require('../assets/icon_correct.jpg')
            "
            alt=""
          />
        </div>
        <div class="text">{{ alertBoxObj.alertBoxText }}</div>
      </div>
      <div class="bottom btnGroup">
        <div
          class="cancelBtn btn"
          v-show="alertBoxObj.cancelBtnText"
          @click="currentAlertBoxCancel"
        >
          {{ alertBoxObj.cancelBtnText }}
        </div>
        <div class="confirmBtn btn" @click="currentAlertBoxConfirm">
          {{ alertBoxObj.confirmBtnText || "确定" }}
        </div>
      </div>
    </div>
    <!-- 编辑弹出层 -->
    <div class="editModule module" v-show="editModuleShow">
      <div class="editModuleHeader moduleHeader">
        <div class="leftText">编辑搜索条目</div>
        <div
          class="rightContent closeModule img"
          @click="closeeditModuleModule"
        >
          <img src="../assets/close.jpg" alt="" />
        </div>
      </div>
      <div class="editModuleMainContent moduleMainContent">
        <div class="editModuleMainContentTitle">
          <label for="">名称：</label
          ><input type="text" v-model="titleNameTest" />
        </div>
        <div class="keywordsContent">
          <div class="textareaTitle">搜索关键词</div>
          <textarea
            name=""
            id=""
            cols="10"
            rows="10"
            class="textarea"
            v-model="nowEditKeywords"
          ></textarea>
        </div>
        <!-- <div class="tips">小提示：关键词请用换行隔开，最多10条，每条最多10个字</div> -->
      </div>
      <div class="btn editModuleConfirmBtn" @click="editModuleConfirm">
        确定
      </div>
    </div>
    <!-- 上传配图的弹框 -->
    <div class="uploadModule module" v-show="uploadModuleShow">
      <div class="uploadModuleHeader moduleHeader">
        <div class="leftText">上传搜索结果配图</div>
        <div class="rightContent closeModule img" @click="closeuploadModule">
          <img src="../assets/close.jpg" alt="" />
        </div>
      </div>
      <div class="uploadModuleMainContent moduleMainContent">
        <div class="uploadModuleMainContentTitle">{{ titleName }}</div>
        <div class="chooseImg">
          <span>上传图片</span>
          <input
            :checked="imgType === 'native'"
            type="radio"
            name="shangchuantupian"
            @click="chooseThisShangchuantupian('native')"
          />
          <span>本地图片</span>
          <input
            :checked="imgType === 'remote'"
            type="radio"
            name="shangchuantupian"
            @click="chooseThisShangchuantupian('remote')"
          />
          <span>远程图片</span>
        </div>
        <div class="chooseContent">
          <input
            v-show="imgType === 'remote'"
            type="text"
            placeholder="请输入远程图片url"
            class="input"
            v-model="yuanchengUrl"
          />
          <input
            v-show="imgType === 'native'"
            @focus="nofocus($event)"
            type="text"
            class="input"
            v-model="bendiUrl"
          />
          <div
            v-show="imgType === 'native'"
            class="chooseBtn"
            @click="childModuleChooseImg"
          >
            选择
          </div>
          <input
            v-show="imgType === 'native'"
            type="file"
            accept="image/*"
            class="chooseContentInput"
            @change="thisChildModuleFileChanged($event)"
          />
        </div>
      </div>
      <div class="btn uploadModuleConfirmBtn" @click="uploadModuleConfirm">
        确定
      </div>
    </div>
    <!-- 批量上传和分页 -->
    <div class="uploadAndFenye">
      <div class="uploadContent">
        <input type="checkbox" :checked="allChecked" @click="checkAll" />
        <span>全选</span>
        <div class="uploadBtn btn" @click="batchUpdateInfo('up')">批量上架</div>
        <div class="loloadBtn btn" @click="batchUpdateInfo('lower')">
          批量下架
        </div>
        <div class="tips">请在筛选区选择同一分类下的条目进行批量操作</div>
      </div>
      <div class="fenye">
        <el-pagination
          size="30"
          @size-change="pageSizeChange"
          @current-change="pageCurrentChange($event)"
          :current-page="pageform.pageNum"
          :page-sizes="pageform.pageSizes"
          :page-size="pageform.pageSize"
          layout="total,pager,prev,next"
          :total="pageform.total"
        >
        </el-pagination>
      </div>
    </div>
    <!-- 新增按钮的弹框 -->
    <div class="addModule module-layout" v-show="addModuleShow">
      <div class="addModuleHeader moduleHeader">
        <div class="leftText">关键词新增</div>
        <div class="rightContent closeModule img" @click="closeAddModule">
          <img src="../assets/close.jpg" alt="" />
        </div>
      </div>
      <div class="addModuleMainContent moduleMainContent">
        <div class="add-title">
          <div class="left-layout">
            标题
          </div>
          <span>:</span>
          <div class="el-right-layout">
            <el-input
              v-model="addTitle"
              placeholder="请输入内容"
              clearable
              @input="resolveSpaceStr('addTitle', $event)"
            ></el-input>
          </div>
          <!-- <div v-show="validateAddValue(addTitle)" class="not-null-tips">
            请输入标题
          </div> -->
        </div>
        <div class="search-type">
          <div class="left-layout">
            搜索类型名称
          </div>
          <span>:</span>
          <div class="el-right-layout">
            <el-select
              v-model="searchTypeSelectValue"
              placeholder="请选择"
              @change="resolveSearchType($event)"
            >
              <el-option
                v-for="(item, index) in searchTypeList"
                :key="index"
                :label="item.rangeName"
                :value="item.rangeId"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="jump-type">
          <div class="left-layout">
            跳转类型
          </div>
          <span>:</span>
          <div class="el-right-layout">
            <el-radio
              v-model="jumTypeSelectValue"
              :label="item.value"
              v-for="(item, index) in jumpTypeList"
              :key="index"
              >{{ item.jumpTypeLable }}</el-radio
            >
          </div>
        </div>
        <div class="jump-target-address">
          <div class="left-layout">
            跳转目标地址
          </div>
          <span>:</span>
          <div class="el-right-layout">
            <el-input
              v-model="jumpTarget"
              placeholder="请输入内容"
              clearable
              @input="resolveSpaceStr('jumpTarget', $event)"
            ></el-input>
          </div>
        </div>
        <div class="keyword">
          <div class="left-layout">
            关键字
          </div>
          <span>:</span>
          <div class="el-right-layout">
            <el-input
              v-model="keyWord"
              placeholder="请输入内容"
              clearable
              @input="resolveSpaceStr('keyWord', $event)"
            ></el-input>
          </div>
          <!-- <div v-show="validateAddValue(keyWord)" class="not-null-tips">
            请输入有效内容
          </div> -->
        </div>
        <div class="termination-time">
          <div class="left-layout">
            终止时间
          </div>
          <span>:</span>
          <div class="el-right-layout">
            <el-date-picker
              class="el-date-picker"
              v-model="overDtValue"
              type="datetime"
              format="yyyy-MM-dd HH:mm:ss"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="请选择日期"
            >
            </el-date-picker>
          </div>
          <!-- <div v-show="validateAddValue(overDtValue)" class="not-null-tips">
            请选择时间
          </div> -->
        </div>
      </div>
      <div class="btn addModuleConfirmBtn" @click="addModuleConfirm">
        确定
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  name: "search_manage_homepage",
  data() {
    return {
      preTitle: "", //编辑前的title
      titleName: "", //编辑图片时的title
      titleNameTest: "", //和编辑弹框中的input绑定的title
      searchKeywords: "", //搜索关键字
      currentPageGrayBackgroundShow: false, //当前组件的半透明背景
      searchStatus: "all", //搜索条件中的状态,
      /* 搜索条件中的状态列表 */
      searchStatusList: [
        {
          text: "全部",
          val: "all"
        },
        {
          text: "上架",
          val: "up"
        },
        {
          text: "下架",
          val: "lower"
        },
        {
          text: "审核",
          val: "check"
        }
      ],
      /* 列表中的审核下拉框 */
      statusList: [
        {
          text: "上架",
          stat: "up"
        },
        {
          text: "下架",
          stat: "lower"
        },
        {
          text: "审核",
          stat: "check"
        }
      ],
      searchId: "",
      gongnengfenlei: "全部",
      gongnengfenleiList: [],
      keywordsList: [],
      editModuleShow: false,
      nowEditKeywords: "", //当前正在编辑的关键词
      nowEditKeywordsIndex: "",
      uploadModuleShow: false,
      imgBase64: "",
      imgType: "native",
      yuanchengUrl: "",
      bendiUrl: "",
      pageform: {
        //分页相关参数
        total: 200,
        pages: 5,
        pageNum: 1,
        pageSizes: [10],
        pageSize: 8
      },
      currentPageAlertBox: false,
      alertBoxObj: {
        alertBoxText: "",
        alertBoxImg: "",
        cancelBtnText: "",
        confirmBtnText: "",
        confirmBtnStat: ""
      },
      currentEditItem: "",
      // currentItemFlag:"",
      // currentItemId:"",
      allChecked: false, //是否全选
      nowCheckedItem: "", //当前选择的条目
      addModuleShow: false,
      jumTypeSelectValue: "",
      searchTypeSelectValue: "",
      searchTypeList: [],
      jumpTypeList: [
        {
          value: "NONE",
          jumpTypeLable: "无"
        },
        {
          value: "LOCAL_FUNCTION",
          jumpTypeLable: "本地功能"
        },
        {
          value: "LOCAL_URL",
          jumpTypeLable: "缤纷页面"
        },
        {
          value: "OUTSIDE_URL",
          jumpTypeLable: "外部页面"
        }
      ],
      searchType: "",
      addTitle: "",
      jumpType: "",
      jumpTarget: "",
      keyWord: "",
      overDtValue: ""
    };
  },
  computed: {},
  methods: {
    ...mapMutations(["show_alert_box", "set_header"]),
    ...mapActions([
      "findRange",
      "find",
      "update",
      "batchUpdate",
      "findAllRange",
      "insertKeyWord"
    ]),
    search() {
      let that = this;
      that.searchId = that.gongnengfenlei;
      let postData = {
        page: "1",
        searchId: that.searchId,
        flag: that.searchStatus,
        searchWord: that.searchKeywords
      };
      that.getMainContentList(postData);
    },
    pageSizeChange() {
      console.log("111");
    },
    pageCurrentChange(e) {
      let that = this;
      that.pageform.pageNum = e;
      let postData = {
        page: e,
        searchId: that.searchId,
        flag: that.searchStatus,
        searchWord: that.searchKeywords
      };
      that.getMainContentList(postData);
    },
    edit(item, index) {
      console.log(item);
      let that = this;
      that.currentPageGrayBackgroundShow = true;
      that.editModuleShow = true;
      document.body.style.overflow = "hidden";
      that.currentEditItem = item;
      that.nowEditKeywords = item.keyWord.split("-").join("\n");
      that.nowEditKeywordsIndex = index;
      that.preTitle = item.title;
      that.titleNameTest = item.title;
    },
    closeeditModuleModule() {
      let that = this;
      that.currentPageGrayBackgroundShow = false;
      that.editModuleShow = false;
      document.body.style.overflow = "visible";
    },
    editModuleConfirm() {
      let that = this;
      if (that.titleNameTest.length === 0) {
        that.show_alert_box({
          alertTitle: "",
          alertContent: "请输入修改的名称",
          cancelText: "",
          confirmText: "确定",
          confirmStat: "01"
        });
        return;
      }
      if (that.titleNameTest.length > 150) {
        that.show_alert_box({
          alertTitle: "",
          alertContent: "名称的长度不能超过150",
          cancelText: "",
          confirmText: "确定",
          confirmStat: "01"
        });
        return;
      }
      that.closeeditModuleModule();
      let postData = {
        id: that.currentEditItem.id,
        keyWord: that.nowEditKeywords.split("\n").join("-"),
        imageType: "none",
        imageUrl: "",
        // flag: "check",
        image: ""
      };
      console.log(that.preTitle);
      console.log(that.titleNameTest);
      console.log(that.titleNameTest === that.preTitle);
      if (that.preTitle != that.titleNameTest) {
        postData.title = that.titleNameTest;
      }
      console.log(postData);
      that.updateInfo(postData, "编辑关键词");
    },
    editThisImg(item) {
      let that = this;
      that.currentEditItem = item;
      that.titleName = item.title;
      that.uploadModuleShow = true;
      that.currentPageGrayBackgroundShow = true;
      document.body.style.overflow = "hidden";
      that.bendiUrl = "";
      that.yuanchengUrl = "";
      that.imgBase64 = "";
    },
    closeuploadModule() {
      let that = this;
      that.uploadModuleShow = false;
      that.currentPageGrayBackgroundShow = false;
      document.body.style.overflow = "visible";
    },
    uploadModuleConfirm() {
      let that = this;
      console.log("点击了编辑配图的确定按钮！！！");
      console.log(that.imgType);
      if (that.imgType === "native") {
        if (!that.imgBase64) {
          that.show_alert_box({
            alertTitle: "",
            alertContent: "请选择一张本地图片",
            cancelText: "",
            confirmText: "确定",
            confirmStat: "01"
          });
          return;
        } else {
          // console.log(`当前选择的为本地图片,图片为${that.imgBase64}`);
          /* 更新接口需要上送的参数 */
          let postData = {
            id: that.currentEditItem.id,
            keyWord: "",
            imageType: that.imgType,
            imageUrl: that.yuanchengUrl,
            // flag: that.currentEditItem.flag,
            image: that.imgBase64
          };
          that.updateInfo(postData);
        }
      } else if (that.imgType === "remote") {
        if (!that.yuanchengUrl) {
          that.show_alert_box({
            alertTitle: "",
            alertContent: "请选择一张远程图片",
            cancelText: "",
            confirmText: "确定",
            confirmStat: "01"
          });
        } else {
          console.log(`当前选择的为本地图片,图片为${that.yuanchengUrl}`);
        }
      }
    },
    thisChildModuleFileChanged(e) {
      let that = this;
      let imgUrl = e.target.files[0];
      let fr = new FileReader();
      fr.readAsDataURL(imgUrl);
      fr.onload = function() {
        let imgBase64 = this.result;
        imgBase64 = imgBase64.split(",")[1];
        that.imgBase64 = imgBase64;
        console.log(imgBase64);
      };
      // console.log(e.target.value);
      that.bendiUrl = e.target.value;
    },
    nofocus(e) {
      e.target.blur();
    },
    childModuleChooseImg() {
      let that = this;
      document.getElementsByClassName("chooseContentInput")[0].click();
    },
    chooseThisShangchuantupian(text) {
      let that = this;
      that.imgType = text;
      if (text === "本地") {
        that.yuanchengUrl = "";
      } else if (text === "远程") {
        that.bendiUrl = "";
        that.imgBase64 = "";
      }
    },
    /* 触发本页面弹框的方法 */
    showCurrentPageAlertBox(obj) {
      let that = this;
      that.currentPageGrayBackgroundShow = true;
      that.currentPageAlertBox = true;
      document.body.style.overflow = "hidden";
      that.alertBoxObj.alertBoxImg = obj.alertBoxImg;
      that.alertBoxObj.alertBoxText = obj.alertBoxText;
      that.alertBoxObj.cancelBtnText = obj.cancelBtnText;
      that.alertBoxObj.confirmBtnText = obj.confirmBtnText;
      that.alertBoxObj.confirmBtnStat = obj.confirmBtnStat;
    },
    currentAlertBoxCancel() {
      let that = this;
      that.closeCurrentPageAlertBox();
      that.currentEditItem = "";
      let pt = {
        page: that.pageform.pageNum,
        searchId: that.searchId,
        flag: that.searchStatus,
        searchWord: that.searchKeywords
      };
      that.getMainContentList(pt);
    },
    closeCurrentPageAlertBox() {
      let that = this;
      that.currentPageAlertBox = false;
      that.currentPageGrayBackgroundShow = false;
      document.body.style.overflow = "visible";
    },
    currentAlertBoxConfirm() {
      let that = this;
      that.closeCurrentPageAlertBox();
      let stat = that.alertBoxObj.confirmBtnStat;
      if (stat === "01") {
        return;
      } else if (stat === "清空关键词") {
        let postData = {
          id: that.currentEditItem.id,
          keyWord: "",
          imageType: "none",
          imageUrl: "",
          flag: "lower",
          image: ""
        };
        that.updateInfo(postData);
      }
    },
    changeStatus(item) {
      let that = this;
      console.log(item);
      that.currentEditItem = item;
      /* 状态改为下架，弹框提示是否确认，点击确认再发交易 */
      if (item.flag === "lower") {
        that.showCurrentPageAlertBox({
          alertBoxImg: require("../assets/icon_war.jpg"),
          alertBoxText: `点击确定将清空客户端关键词,取消后返回`,
          cancelBtnText: "取消",
          confirmBtnText: "确定",
          confirmBtnStat: "清空关键词"
        });
      } else {
        let postData = {
          id: item.id,
          keyWord: "",
          imageType: "none",
          imageUrl: "",
          flag: item.flag,
          image: ""
        };
        that.updateInfo(postData, item.flag);
      }
    },
    /* 获取两个list：功能分类的list和页面主体部分的list */
    /* 获取功能分类的list */
    getGongnengList() {
      let that = this;
      that
        .findRange()
        .then(res => {
          that.gongnengfenleiList = res;
          console.log(that.gongnengfenleiList);
          let newObj = {
            enable: "",
            rangeId: "",
            rangeName: "全部"
          };
          that.gongnengfenleiList.unshift(newObj);
          that.gongnengfenlei = that.gongnengfenleiList[0].rangeId;
        })
        .catch(err => {
          console.log(err);
        });
    },
    /* 获取页面主体部分的list */
    getMainContentList(postData) {
      let that = this;
      that
        .find(postData)
        .then(res => {
          // console.log(JSON.stringify(res));
          that.keywordsList = res.list;
          that.allChecked = false;
          that.keywordsList.forEach((item, index) => {
            that.$set(item, "checked", false);
            that.$set(item, "disabled", false);
          });
          /*
						pageSizes: 10,
						pageSize: 8 */
          that.pageform.total = res.total;
          that.pageform.pages = res.pages;
          that.pageform.pageNum = res.pageNum;
          that.pageform.pageSize = res.pageSize;
        })
        .catch(err => {
          console.log(err);
        });
    },
    /* 更新页面内容======修改图片，上下架，编辑修改关键词都是发的此交易 */
    updateInfo(postData, itemFlag = "") {
      let that = this;
      that.uploadModuleShow = false;
      that.currentPageGrayBackgroundShow = false;
      document.body.style.overflow = "visible";
      that
        .update(postData)
        .then(res => {
          console.log(res);
          if (res) {
            that.imgBase64 = "";
            that.yuanchengUrl = "";
            if (itemFlag === "check") {
              that.showCurrentPageAlertBox({
                alertBoxImg: require("../assets/icon_correct.jpg"),
                alertBoxText: `已进入关键词维护状态`,
                cancelBtnText: "",
                confirmBtnText: "确定",
                confirmBtnStat: "01"
              });
            } else if (itemFlag === "up") {
              that.showCurrentPageAlertBox({
                alertBoxImg: require("../assets/icon_correct.jpg"),
                alertBoxText: `审核成功,已上架`,
                cancelBtnText: "",
                confirmBtnText: "确定",
                confirmBtnStat: "01"
              });
            } else if (itemFlag === "编辑关键词") {
              that.showCurrentPageAlertBox({
                alertBoxImg: require("../assets/icon_correct.jpg"),
                alertBoxText: `修改成功,待审核`,
                cancelBtnText: "",
                confirmBtnText: "确定",
                confirmBtnStat: "01"
              });
            }
            let pt = {
              page: that.pageform.pageNum,
              searchId: that.searchId,
              flag: that.searchStatus,
              searchWord: that.searchKeywords
            };
            that.getMainContentList(pt);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    /* 选择当前条目 */
    chooseThisItem(item, index) {
      let that = this;
      console.log(item);
      that.nowCheckedItem = item;
      item.checked = !item.checked;
      let sameArr = [];
      that.keywordsList.forEach((ii, ee) => {
        if (item.checked) {
          if (ii.searchId === item.searchId) {
            sameArr.push(ii);
          } else {
            ii.disabled = true;
          }
        } else {
          if (ii.searchId === item.searchId) {
            ii.disabled = false;
          } else {
            ii.disabled = true;
          }
        }
      });
      let allChecked = true;
      that.keywordsList.forEach((i, e) => {
        if (!i.checked && i.searchId === item.searchId) {
          allChecked = false;
        }
      });
      that.allChecked = allChecked;
    },
    /* 全选 */
    checkAll() {
      let that = this;
      that.allChecked = !that.allChecked;
      if (that.allChecked) {
        let searchId =
          that.nowCheckedItem.searchId || that.keywordsList[0].searchId;
        that.keywordsList.forEach((i, e) => {
          if (!i.disabled && searchId === i.searchId) {
            i.checked = true;
          } else {
            i.checked = false;
            i.disabled = true;
          }
        });
      } else {
        that.keywordsList.forEach((i, e) => {
          i.checked = false;
          i.disabled = false;
        });
      }
    },
    /* 批量更新 */
    batchUpdateInfo(str) {
      let that = this;
      let ids = [];
      let nowSearchId = "";
      if (that.keywordsList.length < 1) {
        that.show_alert_box({
          alertTitle: "",
          alertContent: "请选择条目！",
          cancelText: "",
          confirmText: "确定",
          confirmStat: "01"
        });
        return;
      }
      that.keywordsList.forEach((item, index) => {
        if (str === "up") {
          if (
            item.checked &&
            (item.flag === "check" || item.flag === "lower")
          ) {
            ids.push(item.id);
            nowSearchId = item.searchId;
          }
        } else if (str === "lower") {
          if (item.checked) {
            ids.push(item.id);
            nowSearchId = item.searchId;
          }
        }
      });
      let postData = {
        ids: ids.join(","),
        searchId: nowSearchId,
        flag: str
      };
      console.log(postData);
      that
        .batchUpdate(postData)
        .then(res => {
          console.log(res);
          if (res === "00") {
            that.show_alert_box({
              alertTitle: "",
              alertContent: "批量操作成功！",
              cancelText: "",
              confirmText: "确定",
              confirmStat: "01"
            });
            let pt = {
              page: that.pageform.pageNum,
              searchId: that.searchId,
              flag: that.searchStatus,
              searchWord: that.searchKeywords
            };
            that.getMainContentList(pt);
          } else {
            that.show_alert_box({
              alertTitle: "",
              alertContent: "获取数据失败，请稍后重试！",
              cancelText: "",
              confirmText: "确定",
              confirmStat: "01"
            });
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    //点击新增逻辑处理
    addResolce() {
      let self = this;
      self.initAddOverLayFormData();
      self.currentPageGrayBackgroundShow = true;
      self.addModuleShow = true;
      self
        .findAllRange()
        .then(res => {
          document.body.style.overflow = "hidden";
          self.searchTypeList = res;
        })
        .catch(err => {
          console.log(err);
        });
    },
    //初始化新增弹框表单数据
    initAddOverLayFormData() {
      this.addTitle = "";
      this.searchTypeSelectValue = "other";
      this.searchType = "其他";
      this.jumTypeSelectValue = "NONE";
      this.jumpTarget = "";
      this.keyWord = "";
      this.overDtValue = this.formatDate(new Date());
    },
    //格式化时间
    formatDate(date) {
      let that = this;
      let yy = date.getFullYear();
      let MM = that.formatTen(date.getMonth() + 1);
      let dd = that.formatTen(date.getDate());
      let HH = that.formatTen(date.getHours());
      let mm = that.formatTen(date.getMinutes());
      let ss = that.formatTen(date.getSeconds());
      return `${yy}-${MM}-${dd} ${HH}:${mm}:${ss}`;
    },
    formatTen(num) {
      if (num > 9) {
        return num;
      } else {
        return `0${num}`;
      }
    },
    closeAddModule() {
      this.currentPageGrayBackgroundShow = false;
      this.addModuleShow = false;
      document.body.style.overflow = "visible";
    },
    //新增弹框确认逻辑处理
    addModuleConfirm() {
      let self = this;
      if (!self.addTitle) {
        self.openToast("请输入标题");
        return false;
      } else if (!self.keyWord) {
        self.openToast("请输入关键字");
      } else if (!self.overDtValue) {
        self.openToast("请选择终止时间");
      } else {
        let param = {
          title: self.addTitle,
          searchId: self.searchTypeSelectValue,
          searchType: self.searchType,
          jumpType: self.jumTypeSelectValue,
          jumpTarget: self.jumpTarget,
          keyWord: self.keyWord,
          overDt: self.overDtValue.replace(/[\D]/g, "")
        };
        self
          .insertKeyWord(param)
          .then(res => {
            this.currentPageGrayBackgroundShow = false;
            this.addModuleShow = false;
            let postData = {
              page: "1",
              searchId: "",
              flag: that.searchStatus,
              searchWord: ""
            };
            self.getMainContentList(postData);
          })
          .catch(err => {
            console.log(err);
          });
      }
    },

    openToast(string) {
      this.$message({
        showClose: true,
        message: string,
        type: "error",
        offset: 10,
        center: true
      });
    },
    resolveSpaceStr(str, e) {
      switch (str) {
        case "addTitle":
          this.addTitle = this.addTitle.replace(/\s+/g, "");
          break;
        case "jumpTarget":
          this.jumpTarget = this.jumpTarget.replace(/\s+/g, "");
          break;

        default:
          this.keyWord = this.keyWord.replace(/\s+/g, "");
          break;
      }
    },
    resolveSearchType(e) {
      this.searchTypeList.forEach(res => {
        if (res.rangeId == this.searchTypeSelectValue) {
          this.searchType = res.rangeName;
        }
      });
    }
  },
  created() {
    let that = this;
    that.getGongnengList();
    let postData = {
      page: "1",
      searchId: "",
      flag: that.searchStatus,
      searchWord: ""
    };
    that.getMainContentList(postData);
  },
  mounted() {},
  updated() {},
  watch: {}
};
</script>

<style scoped lang="less">
select,
input {
  border: 1px solid #000;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
}

.flexRenderStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexRenderCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.module {
  padding-bottom: 20px;
  /* height: 1000px; */
  position: fixed;
  top: 30%;
  left: 30%;
  max-height: 700px;
  overflow-y: scroll;
  background: #ffffff;
  z-index: 11;
  border: 1px solid #000;

  &::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
  }

  .moduleHeader {
    height: 50px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .closeModule {
      cursor: pointer;
    }
  }
}
.module-layout {
  padding-bottom: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  z-index: 11;
  border: 1px solid #000;
  .moduleHeader {
    height: 50px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .closeModule {
      cursor: pointer;
    }
  }
}

.Outerbox {
  background: #f2f2f2;
  padding: 50px 20px 80px 50px;

  .currentPageGrayBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.4;
    box-sizing: border-box;
    z-index: 10;
    overflow: hidden;
  }

  .header {
    .title {
      font-size: 30px;
      font-weight: bold;
    }

    .searchContent {
      margin: 30px auto;
      height: 80px;
      background: #fff;
      font-size: 18px;
      .flexRenderStart;

      .gongnengfenlei {
        margin-left: 30px;
      }
      .status {
        margin-left: 20px;
      }

      select {
        margin-left: 20px;
        width: 150px;
        height: 40px;
      }

      input[type="text"] {
        margin-left: 20px;
        width: 250px;
        height: 40px;
        padding-left: 5px;
      }

      .searchBtn,
      .addBtn {
        margin-left: 10px;
        padding: 8px 40px;
        background: #169bd5;
        color: #fff;
        border-radius: 5px;
      }
    }
  }

  .mainContent.table {
    border: 1px solid #000;
    background: #fff;

    .rowItem {
      height: 75px;
      font-size: 16px;
      display: flex;
      .flexRenderStart;

      &:last-of-type {
        .cell {
          border-bottom: 1px solid transparent;
        }
      }

      .cell {
        height: 100%;
        .flexRenderCenter;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;

        &:last-of-type {
          border-right: 1px solid transparent;
        }
      }

      .col0 {
        flex: 1 1 3%;
      }

      .col1 {
        flex: 1 1 8%;
      }

      .col2,
      .col4 {
        flex: 1 1 24%;
        overflow: hidden;
      }

      .col3 {
        flex: 1 1 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
          flex: 0 1 120px;
          height: 55px;
          cursor: pointer;
        }
      }

      .col4 {
      }

      .col5 {
        flex: 1 1 10%;
      }

      .col6 {
        flex: 1 1 10%;

        .btn {
          width: 150px;
          height: 50px;
          background: #169bd5;
          color: #fff;
          border-radius: 5px;
          .flexRenderCenter;
        }
      }

      .col7 {
        flex: 1 1 10%;

        select {
          width: 120px;
          height: 35px;
          font-size: 16px;
        }
      }

      .col7 {
      }
    }

    .firstRow {
      .releaseDate {
        .flexRenderCenter;

        .leftText {
        }

        .rightImg {
          width: 15px;
          height: 15px;
          margin-left: 15px;
        }
      }
    }
  }

  /* 审核结果弹框 */
  .currentPageAlertBox {
    width: 700px;
    height: 400px;
    background: #fff;
    position: fixed;
    top: 30%;
    left: 40%;
    border: 1px solid #000;
    z-index: 11;

    .top {
      height: 40px;
      padding: 0 8px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .closeAlertBox.img {
        width: 25px;
        height: 25px;
      }
    }

    .middle {
      height: 250px;
      .flexRenderCenter;

      .img {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }

      .text {
        margin-left: 10px;
        font-size: 25px;
        font-weight: bold;
      }
    }

    .bottom.btnGroup {
      .flexRenderCenter;

      .btn {
        width: 150px;
        height: 50px;

        border-radius: 5px;
        .flexRenderCenter;
      }

      .cancelBtn {
        margin-right: 10px;
        background: #f2f2f2;
        color: #333333;
        border: 1px solid #797979;
      }

      .confirmBtn {
        margin-left: 10px;
        background: #169bd5;
        color: #fff;
      }
    }
  }

  /* 编辑弹出层的样式 */
  .editModule {
    width: 900px;

    .editModuleMainContent {
      .editModuleMainContentTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 50px;

        input {
          flex-grow: 1;
        }
      }

      .keywordsContent {
        .textareaTitle {
          margin-left: 50px;
        }

        textarea {
          padding: 20px 10px;
          width: 800px !important;
          /* height: 200px !important; */
          margin: 20px 50px;
          resize: none;
          border: 1px solid #d9d9d9;
          font-size: 20px;
          box-sizing: border-box;
        }
      }

      .tips {
        margin-left: 100px;
      }
    }

    .editModuleConfirmBtn {
      width: 150px;
      height: 50px;
      margin: 20px auto 0 auto;
      background: #169bd5;
      color: #fff;
      .flexRenderCenter;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .uploadModule {
    width: 700px;
    height: 500px;
    .uploadModuleMainContent {
      height: 200px;

      .uploadModuleMainContentTitle {
        margin: 30px 30px;
        font-size: 20px;
        font-weight: bold;
      }

      .chooseImg {
        margin: 10px 30px;

        input {
          margin-left: 20px;
        }
      }

      .chooseContent {
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 125px;

        .input {
          height: 30px;
          flex: 0 0 280px;
        }

        .chooseBtn {
          margin-left: 20px;
          flex: 0 0 100px;
          height: 30px;
          border: 1px solid black;
          /* no */
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        input[type="file"] {
          width: 0;
          height: 0;
          opacity: 0;
        }
      }
    }

    .uploadModuleConfirmBtn {
      margin: 50px auto;
      width: 150px;
      height: 50px;
      background: #169bd5;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }
  .addModule {
    width: 780px;
    height: 650px;
    .addModuleMainContent {
      .add-title,
      .search-type,
      .jump-type,
      .jump-target-address,
      .keyword,
      .termination-time,
      .over-time {
        font-size: 20px;
        margin: 25px 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .el-input,
        .el-select {
          width: 250px;
          outline: none;
        }
        .left-layout {
          width: 150px;
          text-align-last: justify;
        }
        .el-right-layout {
          margin-left: 20px;
        }
      }
      .not-null-tips {
        margin-left: 15px;
        color: #e80808;
      }
    }
    .addModuleConfirmBtn {
      margin: 50px auto;
      width: 150px;
      height: 50px;
      background: #169bd5;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }

  /* 上传和分页 */
  .uploadAndFenye {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    /* 上传样式 */
    .uploadContent {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .uploadBtn,
      .loloadBtn {
        margin: 0 20px;
        padding: 10px 25px;
        background: #169bd5;
        border-radius: 5px;
        color: #fff;
      }

      .tips {
        color: #4f4ffb;
        font-weight: bold;
      }
    }

    /* 分页样式 */
    .fenye {
      margin-top: 50px;
      text-align: right;
    }
  }
}
</style>
